{{!-- existing blog posts show up here --}}
<div class="container p-3">

    {{#each blogpost as |post|}}

    <div class="card p-1 m-3">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{username}}</h6>
        <p class="card-text">{{content}}</p>
    </div>
    </div>

    {{/each}}

</div>