<div>
    <form class="shadow m-3 mx-5 mt-4 pt-3">
        <div class="form-group px-5">
            <label for="title">Title</label>
            <input type="title" class="form-control" id="title">
        </div>
        <div class="form-group px-5 pb-1">
            <label for="body">Contents</label>
            <textarea class="form-control" id="body" rows="3"></textarea>
        </div>
        <div class="mx-auto"><button type="submit" class="text-center btn btn-dark mx-5 mb-3">Submit</button></div>
    </form>
</div> 