{{!-- form with username, password, submit button, and link to signin --}}

<div>
    <form class="mt-3 p-3 mx-auto shadow" style="width: 25rem;">
        <div class="text-center font-weight-bolder">Sign In</div>
        <div class="form-group">
            <label for="new_user">Username</label>
            <input type="user" class="form-control" id="user">
          </div>
        <div class="form-group">
          <label for="new_password">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-dark mb-2">Sign Me Up</button>
        <br><a href="#" class="card-link">I already have an account.</a>
    </form>
</div>  